
/* column_link.css 是侧边栏内的链接部分的样式表 */

/* 禁止套娃 */
#link-box-box{
  align-items: center;
  display: flex;
  height: 73%;
  justify-content: center;
  width: 100%;
}

#link-box{
  display: inline-block;
  height: 95%;
  width: 94%;
  overflow-y: scroll;
}

#link-loaf-add{
  border: 1px dotted white;
  color: white;
  cursor: pointer;
  text-align: center;
}

#link-loaf-add:hover{
  border: 1px solid #6CF;
  color: #6CF;
}

/***************************************/

/* 一个链接”条“” */
.link-loaf::before{
  content: '-';
  color: #6CF;
  font-size: 16px;
  transition: margin-left 0.4s;
}

.link-loaf-edit{
  background-image: url(../img/link/pen.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  width: 12px;
}

.link-loaf>a{
  color: white;
  font-size: 14px;
  width: 95%;
  word-wrap: break-word;
  transition: color 0.4s;
}

.link-loaf:hover::before{
  content: '>';
}

.link-loaf>a:hover{
  color: #6CF;
}
