
/* 侧边栏内的元素的属性 */

#column{
  background-color: rgba(250, 190, 200, 0);
  position: fixed;
  left: 0px;
  top: 0px;
  transition: width 0.5s, background-color 0.6s, opacity 0.4s, box-shadow 0.65s;
  opacity: 0;
  height: 100vh;
  width: 9%;
}

#column>hr, #column>div>hr{
  width: 80%;
  color: white;
  height: 1px;
  background: white;
}

#column:hover{
  background-color: rgba(60, 40, 80, 0.66);
  box-shadow: rgb(128, 128, 128) 0px 0px 4px;
  opacity: 1;
  width: 12%;
}

#warma-recommendation{
  margin-left: 2%;
  margin-right: 2%;
}

#warma-user-box{
  text-align: center;
  width: 100%;
}

#warma-username{
  color: white;
  font-size: 20px;
}

#warma-avatar{
  background: url('https://i1.hdslb.com/bfs/face/32a43710a69155a5a90441ebedb6c05b63d2fd98.jpg_64x64.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  padding-top: 50%;
  position: relative;
  border: 3px solid #C0C0C0;
  left: 24%;
  width: 50%;
}

/* 关于#warma-avatar:hover里的动画，御坂12018号的灵感来源于叶落阁 */
#warma-avatar:hover{
  animation: warma-avatar-kf 1s ease-out;
}

#bottom-box{
  color: #6CF;
  font-size: 8px;
  height: 3%;
  text-align: center;
  top: 80;
  position: relative;
  width: 100%;
}

#bottom{
  width: 100%;
}

@keyframes warma-avatar-kf {
  0%{
    transform: scale(1, 1);
  }
  25%{
    transform: scale(1.2, 0.7);
  }
  37.5%{
    transform: scale(0.7, 1.2);
  }
  50%{
    transform: scale(1.1, 0.8);
  }
  62.5%{
    transform: scale(0.9, 1.05);
  }
  75%{
    transform: scale(1.05, 0.95);
  }
  87.5%{
    transition: scale(0.95, 1.05);
  }
  100%{
    transform: scale(1, 1);
  }
}

/* 我已经完全爱上Warma啦！*/
