/* favorites.css是【左侧】收藏夹相关的属性 */

#favorites-body{
    position: fixed;
    overflow: scroll;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 100%;
    padding: 5px;
    transition: opacity 0.3s ease-out;
    opacity: 0%;
    z-index: 1111;
}

#favorites-body::-webkit-scrollbar-thumb{
    background: none;
}

#favorites-body::-webkit-scrollbar-track{
    
}

#favorites-body:hover{
    opacity: 100%;
}

#favorites{
    height: 100%;
    width: 50px;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
}

/*************************************/

.favorites-link{
    height: 45px;
    width: 45px;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
}

.favorites-link-title{
    position: relative;
    bottom: 0px;
    border-radius: 4px;
    font-size: 6px;
    height: 6px;
    overflow: hidden;
}

.favorites-link-icon{
    position: relative;
    left: 0px;
    top: 0px;
}

/* 以下是常用链接栏目 */
/* 常用链接栏目在页面的最底部 */

#most-used-link-body{
    position: fixed;
    bottom: 0px;
    width: 100vw;
}

#most-used-link{

}