
/* 此文件用于存储关于页面上各个主干性元素的一些css属性，主要包括结构上的属性。 */
/* 侧边栏的属性放在column.css中 */

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

::-webkit-scrollbar{
  height: 100%;
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(20, 30, 30);
  border-radius: 50%;
}

::-webkit-scrollbar-track{
  background-color: rgb(0, 0, 0, 0);
}

/***************************************/

#bg{
  z-index: -1;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

#contain{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

#search{
  margin: 12% 11% 12% 11%;
  z-index: 99;
}

#e-box{
  margin: auto 10% auto 10%;
  padding: 4% 5% 3.31% 5%;
}

#e-chs{
  align-items: center;
  display: flex;
  font-family: "Microsoft Yahei";
  justify-content: center;
}

#e-left, #e-right{
  font-size: 21px;
  transition: font-size 0.4s;
}

#e-left:hover, #e-right:hover{
  font-size: 25px;
}

#e-middle{
  font-size: 42px;
}

#sch{
  display: flex;
}

#schbox{
  width: 95%;
  height: 40px;
  z-index: 1;
  outline: medium;
  text-indent: 20px;
  border-radius: 24px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#schbox:valid ~ #clean{
  align-items: center;
  background-color: rgb(150, 150, 150);
  color: white;
  display: flex;
  justify-content: center;
  opacity: 0.6;
}

#schbox:valid{
  width: calc(100% - 40px);
}

/*解决schbox在Firefox上输入后大小变化的问题*/
#schbox:-moz-ui-valid{
  width: calc(100% - 38px);
}

#tool-button{
  padding: 13px;
  font-size: 16px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#clean{
  border-radius: 50%;
  cursor: pointer;
  display: none;
  height: 20px;
  margin-left: -60px;
  margin-top: 12px;
  position: relative;
  width: 20px;
  z-index: 999;
}

/***************************************/

.not-select{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
/* 我已经完全爱上Warma啦！*/
