
/* 这里写 index 上所有元素的视觉属性 */

html, #bg{
  /*background-image: ;: url('https://i0.hdslb.com/bfs/album/72d524ee5ebca1370d3023c0ecf4b8e87cdbdd96.jpg');*/
  background-attachment: fixed;
  background-color: #998;
  background-size: cover;
  background-repeat: no-repeat;
}

html, #bg, #contain{
  animation: page-HelloWorld 0.8s ease-out;
}

#e-left, #e-middle, #e-right{
  transition: color 0.2s;
  cursor: pointer;
}

#e-left, #e-right{
  color: white;
}

#e-left:active, #e-right:active{
  color: #E7E7E7;
}

#e-middle, #hitokoto{
  color: #8CF;
}

#e-middle:hover{
  color: #BCE;
}

#e-middle:active{
  color: #8BF;
}

#e-left:active, #e-right:active{
  color: #E7E7E7;
}

#schbox{
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
  border: none;
  border-spacing: -3px;
  box-shadow: grey 0px 0px 3px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  transition: background-color 0.3s, color 0.18s, box-shadow 0.26s;
}

#schbox:hover{
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}

#schbox:focus{
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: white 0px 0px 3px;
}

#tool-button{
  color: #EDEDED;
  font-weight: bold;
  background-color: rgb(0, 140, 220);
  border: none;
  cursor: pointer;
  outline: medium;
  transition: background-color 0.23s;
}

#tool-button:hover{
  background-color: rgb(3, 160, 240);
}

#tool-button:active{
  background-color: rgb(0, 120, 185);
}

#clean{
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  outline: medium;
}


/****************************************************/

@keyframes page-HelloWorld {
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}
/* 我已经完全爱上Warma啦！*/
