
/* 此文件用于存储关于页面上各个主干性元素的一些css属性，主要包括结构上的属性。 */
/* 侧边栏的属性放在column.css中 */

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root{
  --normal-bgcolor: rgba(255, 255, 255, 0.2);
  --normal-transition-time: .26s;
  --theme-color: rgba(0, 100, 255);
}

input[type="button"], input[type="text"]{
  border-color: rgba(0, 0, 0, 0);
  outline: medium;
  text-align: center;
}

input[type="button"]{
  cursor: pointer;
  padding: 5px 13px 5px 13px;
  background-color: var(--theme-color);
  transition: all var(--normal-transition-time);
}

input[type="text"]{
  background-color: rgb(215, 213, 212);
  border-radius: 11px;
  height: 22px;
  transition: all var(--normal-transition-time);
}
input[type="text"]::placeholder{
  color: grey;
  opacity: 100%;
}
input[type="text"]:hover{
  background-color: rgba(197, 196, 198);
}
input[type="text"]:focus{
  background-color: rgba(186, 183, 184);
}
input[type="text"]:focus::placeholder{
  opacity: 0;
}

a{
  color: var(--theme-color);
  text-decoration: none;
  transition: color var(--normal-transition-time);
  position: relative;
}

a::after, .underline::after{
  content: "";
  width: 0;
  height: 2px;
  background: var(--theme-color);
  position: absolute;
  top: 100%;
  left: 50%;
  transition: all var(--normal-transition-time);
}

a:hover::after, .underline:hover::after{
  left: 0%;
  width: 100%;
}

/***************************************/

#bg{
  z-index: -1;
  background-color: radial-gradient()
}

#bg-black-cover{
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(4, 4, 4, 0.6));
}

#all-event-listener{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

#search{
  position: relative;
  top: 113px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

#engine-body{
  top: 103px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#engine-body:hover .engine-candidate, #engine-body:hover #engine-bg{
  opacity: 100%;
}

#engine-chs{
  font-family: "Microsoft Yahei";
  overflow: hidden;
  width: var(--engine-chs-width);
  height: 114px;
  display: flex;
  align-items: center;
  --engine-chs-width: 540px;
}
#engine-chs .engine-candidate{
  opacity: 0%;
}

#engine-walker{
  position: relative;
  height: 114px;
  padding-left: 0px;
  padding-right: 0px;;
  display: flex;
  align-items: center;
  transition: all .34s;
}

#engine-bg{
  backdrop-filter: blur(3px);
  background-color: var(--normal-bgcolor);
  opacity: 0%;
  z-index: -1;
  width: 640px;
  border-radius: 10px;
  left: calc(50% - var(--engine-chs-width));
  box-shadow: var(--normal-bgcolor) 2px 0px 0px;
  transition: opacity 0.34s;
}

#search-fixpos{
  position: relative;
}

#sch{
  display: flex;
  justify-content: center;
}

#schbox{
  animation: schbox-helloWorld 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  backdrop-filter: blur(4px);
  background-color: var(--normal-bgcolor);
  border: none;
  border-radius: 0%;
  outline: medium;
  box-shadow: rgb(64, 64, 64) 0px 0px 0px;
  color: white;
  font-size: 16px;
  width: 490px;
  height: 42px;
  z-index: 10;
  transition: background-color 0.3s, color 0.18s, box-shadow 0.26s;
}

#schbox:hover{
  background-color: white;
  box-shadow: grey 0px 1px 2px, grey 0px -1px 2px;
  color: black;
}

#schbox:focus{
  background-color: white;
  box-shadow: grey 0px 1px 2px, grey 0px -1px 2px;
  color: black;
}

#schbox::-webkit-input-placeholder{
  color: white;
}
#schbox::-moz-placeholder{
  color: white;
}
#schbox:-moz-placeholder{
  color: white;
}
#schbox:-ms-input-placeholder{
  color: white;
}

#reduction-button, #search-button{
  color: white;
  height: 44px;
  width: 40px;
  font-size: 16px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: bold;
  backdrop-filter: blur(10px);
  background-color: var(--theme-color)
}
#reduction-button:hover, #search-button:hover{
  background-color: rgb(0, 120, 255);
}
#reduction-button:active, #search-button:active{
  background-color: rgb(0, 70, 255);
}

#reduction-button{
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

#search-button{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

#clean-line-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
}

#clean-line-clickeder{
  height: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -2px;
}

#clean-line{
  height: 2px;
  width: 540px;
  transition: width 0.26s;
  background: white;
}

#button-area{
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10000;
}

/***************************************/

.not-select{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.text-stroker{

}

.bg{
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.sadness{
  filter: grascale(100%);
}

.engine{
  cursor: pointer;
  color: white;
  transition: color 0.2s;
  padding-left: 14px;
  padding-right: 14px;
  white-space: nowrap;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .34s, color 0s, height .26s;
}
.engine:hover{
  background-color: rgba(255, 255, 255, 0.3);
  color: #DD0;
}
.engine:active{
  background-color: rgba(200, 200, 200, 0.4);
}

.engine-cur{
  color: yellow;
  font-size: 42px;
}
.engine-cur:hover{
  color: yellow ;
}
.engine-cur:active{
  height: 90%;
}

.engine-candidate{
  font-size: 21px;
}

.underline{
  position: relative;
}

/***************************************/

@keyframes schbox-helloWorld{
  0%{
    width: 0px
  } 100% {
    width: 480px
  }
}

@keyframes sadness{
  from{
    filter: grascale(0%);
  }
  to{
    filter: grascale(100%);
  }
}