
/* 这里写 index 上所有元素的视觉属性 */

.bg{
  /*background-image: ;: url('https://i0.hdslb.com/bfs/album/72d524ee5ebca1370d3023c0ecf4b8e87cdbdd96.jpg');*/
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

input{
  text-align: center;
}

#e-left, #e-middle, #e-right{
  transition: color 0.2s;
  cursor: pointer;
}

#e-left, #e-right{
  color: white;
}

#e-left:active, #e-right:active{
  color: #E7E7E7;
}

#e-middle, #hitokoto{
  color: #8CF;
}

#e-middle:hover{
  color: #BCE;
}

#e-middle:active{
  color: #8BF;
}

#e-left:active, #e-right:active{
  color: #E7E7E7;
}

#schbox{
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: none;
  box-shadow: rgb(64, 64, 64) 0px 0px 0px;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s, color 0.18s, box-shadow 0.26s;
}

#schbox:hover{
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: grey 0px 0px 4px;
  color: black;
}

#schbox:hover ~ #search-button{
  box-shadow: rgba(0, 139, 220, 0.616)0px 0px 4px;
}

#schbox:focus{
  background-color: wheat;
  box-shadow: wheat 0px 1px 3px, wheat 0px -1px 3px;
  color: black;
}

#schbox:focus ~ #search-button{
  box-shadow: rgb(0, 140, 220) 0px 1px 3px, rgb(0, 140, 220) 0px -1px 3px;
}

#clean-button, #search-button{
  color: #EDEDED;
  font-weight: bold;
  background-color: rgb(0, 140, 220);
  border: none;
  cursor: pointer;
  outline: medium;
  transition: background-color 0.23s, box-shadow 0.26s;
}

#clean-button:hover, #search-button:hover{
  background-color: rgb(3, 160, 240);
}

#clean-button:active, #search-button:active{
  background-color: rgb(0, 120, 185);
}

#clean-button{
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

#search-button{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

#clean-line-clickeder{
  border-left: 3px solid wheat;
  border-right: 3px solid wheat;
}

#clean-line{
  background: wheat;
}
/****************************************************/

@keyframes schbox-HelloWorld {
  from{
    width: 0px;
  }
  to{
    opacity: 100%;
  }
}

/* 我已经完全爱上Warma啦！*/
