body{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
/*body:hover #bg{background-color:rgb(70, 91, 105);}*/

::selection{
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
}

::-webkit-scrollbar{
    height: 100%;
    width: 8px;
    margin-right: 2px;
}

::-webkit-scrollbar-thumb{
    background: rgb(74, 90, 105);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(90, 110, 130);
}

::-webkit-scrollbar-track{
    background: none;
}

#bg, #bg-cover{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:  rgb(163, 175, 188);
    background-position: center;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    transition: background-color .26s;
    width: 100vw;
    z-index: -2;
}
#bg-cover{
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(4, 4, 4, 0.6));
    z-index: -1;
}

#time-display{
    position: fixed;
    left: calc(50vw - 40px);
    color: white;
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
    top: 100px;
}

#time-display-colon{
    animation: time-display-colon-flash .75s infinite alternate-reverse;
}
@keyframes time-display-colon-flash{
    0%{
        opacity: 100%;
    }
    49%{
        opacity: 100%;
    }
    51%{
        opacity: 0%;
    }
    100%{
        opacity: 0%;
    }
}

#searchor-group-position{
    align-items: center;
    top: 190px;
    left: calc(50% - 330px);
    position: relative;
    display: flex;
    width: 660px;
    z-index: 1;
}

#searchor-input{
    border-radius: 24px;
    border: none;
    color: white;
    height: 44px;
    outline: medium;
    text-align: center;
    width: 560px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    transition: background-color .26s;
}
#searchor-input::placeholder{
    color: white;
}
/*#searchor-input:valid, #searchor-input:focus{text-align: left;}*/
#searchor-input:hover{
    color: black;
    background-color: white;
}
#searchor-input:hover::placeholder{
    color: grey;
}
#searchor-input:valid{
    background: white;
    color: black;
}
#searchor-input:focus{
    background-color: white;
    color: black;
}
#searchor-input:focus::placeholder{
    color: white;
}

#searchor-button{
    background-color: rgb(190, 146, 122);
    border-radius: 50%;
    border: none;
    outline: medium;
    color: white;
}

#searchor-selector{
    background-size: 98%;
    left: +44px;
    transition: background-size .4s;
    z-index: 6;
}
#searchor-selector:hover{
    background-size: 113%;
}

#searchor-search{
    left: -44px;
    background-color: rgba(255, 255, 255, .4);
    background-image: url(../img/searchor.png);
    background-size: 37%;
    backdrop-filter: blur(2px);
    transition: background-color .26s;
}
#searchor-search:hover{
    background-color: rgba(255, 255, 255, .83);
}

#searchor-selection-window{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgb(90, 110, 130);
    height: 180px;
    left: calc(50% - 388px);
    top: 244px;
    position: fixed;
    width: 256px;
    z-index: 999;
}

#searchor-selection-title{
    font-size: 18px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

#searchor-selection-list{
    height: calc(180px - 36px);
    overflow-y: scroll;
    width: 100%;
}

.searchor-button{
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 40px;
    outline: medium;
    position: relative;
    width: 40px;
}

.no-selection{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.searchor-monomer{
    background-color: rgb(204, 204, 204);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    box-shadow:  0px 0px 0px #333;
    cursor: pointer;
    display: inline-flex;
    height: 42px;
    margin: 10px;
    transform: scale(1);
    transition: box-shadow .26s, transform .26s;
    width: 42px;
}
.searchor-monomer:hover{
    box-shadow: 0px 0px 6px #333;
    transform: scale(1.07);
}

.searchor-monomer-title{
    display: none;
    word-wrap: break-word;
    word-break: break-all;
}