<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>麻雀小起始页</title>
        <link href="./css/main.css" rel="stylesheet" type="text/css">
        <link rel="Shortcut Icon" href="./img/searchor.png" type="image/x-icon">
        <script src="./js/main.js"></script>
        <script src="./js/vue.js"></script>
    </head>
    <body>
        <div id="bg" style="background-image: url(https://www.ixiaojun.com/img/api.php);"></div>
        <!--<div id="bg" style="background-image: url(https://cn.bing.com/th?id=OHR.EarthriseSequence_ZH-CN0750195611_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp);"></div>-->
        <!--<div id="bg" style="background-image: url(https://hlz.ink/randomPic.html);"></div>-->
        <div id="bg-cover"></div>
        <div id="time-display">
            <div><span id="time-hours">{{ hours }}</span><span id="time-display-colon">:</span><span id="time-minutes">{{ minutes }}</span></div>
            <!--<div id="time-date">2020-07-20</div>--><!--咕咕咕-->
        </div>
        <div id="searchor-group-position">
            <input type="button" value="" id="searchor-selector" class="searchor-button" v-bind:style="style">
            <input type="text" placeholder="Search" id="searchor-input" autocomplete="off" required="true" v-model="text" @keyup="searchorInput_onkeydown()">
            <input type="button" value="" id="searchor-search" class="searchor-button">
        </div>
        <div id="clean-line-body" v-bind:style="clbStyle" @click="cleanLineBody_onclick();"><i id="clean-line"></i></div>
        <div id="searchor-lenovo">
            <div class="searchor-lenovo-monomer no-selection" v-for="single in lenovoText" v-bind:title="single.text" @click="searchorLenovoMonomoer_click(single.text);">
                {{ single.text }}
            </div>
        </div>
        <!--选择搜索器窗口-->
        <div id="searchor-selection-window" style="display: none;">
            <div id="searchor-selection-title" class="no-selection">
                选择搜索器
            </div>
            <div id="searchor-selection-list" class="no-selection">
                <!--<div class="searchor-monomer" style="background-image: url(https://iph.href.lu/128x128?bg=233333&fg=FC3&text=A)"></div>-->
            </div>
        </div>
        <div id="window-system">
            <!--窗口系统，咕咕咕-->
        </div>
    </body>
</html>