
/* theme-basic.css is to make the unchangable attributes among all themes. */
/* Please put this IN FRONT OF OTHER THEMES' FILES when linking.*/

#bg{
  background-color: #6CF;
}

#contain, #bg{
  animation: page-HelloWorld 0.42s;
}

#e-left, #e-middle, #e-right{
  transition: color 0.14s;
  cursor: pointer;
}

#schbox{
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  font-size: 15px;
  transition: background-color 0.18s;
  border-left: 2px rgba(64, 64, 192, 0.2) solid;
  border-top: 2px rgba(0, 0, 255, 0.2) solid;
  border-right: none;
  border-bottom: 2px rgba(128, 128, 128, 0.2) solid;
  border-spacing: -3px;
}

#schbox:hover{
  background-color: rgba(255, 255, 255, 1);
}

#sch-go{
  color: #EDEDED;
  font-weight: bold;
  background-color: rgb(0, 140, 220);
  border: none;
  cursor: pointer;
  outline: medium;
  transition: background-color 0.14s;
}

#sch-go:hover{
  background-color: #5BE
}

#sch-go:active{
  background-color: rgb(0, 120, 185);
}

#clean-box-space{
  border: none;
  background: none;
  outline: medium;
}

#clean{
  background: #5BE;
  border: none;
  color: #EDEDED;
  cursor: pointer;
  opacity: 1.0;
  transition: opacity 0.12s, background-color 0.6s;
}

#clean:hover{
  opacity: 0.82;
}

#clean:active{
  opacity: 0.64;
}
/*
#link, #hitokoto{
  opacity: 0.64;
  transition: opacity 0.18s;
}

#link:hover{
  opacity: 0.9;
}

#link>a{
  opacity: 0.8;
  transition: opacity 0.18s;
}

#link>a:hover{
  opacity: 1;
}

#hitokoto{
  text-shadow: grey 0px 0px 7px;
  transition: color 0.16s, background-color 0.16s, text-shadow 0.18s, opacity 0.16s;
}

#hitokoto:hover{
  opacity: 0.95;
  text-shadow: grey 0px 0px 1px;
}*/

/****************************************************/

.en-font{
  font-family: 'UD Digi Kyokasho NP-B';/**/
}

.bg, .bg_{
  background-repeat: no-repeat;
  background-size: cover;
}

.bg{
  /*background: url('https://s0.xinger.ink/fj/fjurl.php');*/
  /*background: url('https://s0.xinger.ink/acgimg/acgurl.php');*/
  /*background: url('http://pic.tsmp4.net/api/fengjing/img.php');*/
  /*background: url('https://api.dujin.org/bing/1920.php');*/
  background: url('https://i0.hdslb.com/bfs/album/72d524ee5ebca1370d3023c0ecf4b8e87cdbdd96.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*
.theme-selected-on{
  background: #5BE;
  color: #EEE;
  border-color: #5BE;
  transition: background-color 0.6s;
}

.theme-selected-off{
  transition: color 0.18s, background-color 0.18s;
}

.theme-selected-off:hover{
  color: #9EF;
}

@keyframes theme-wake-up-color {
  from{
    color: #9EF;
  }
  to{
    color: #EEE;
  }
}*/

@keyframes page-HelloWorld {
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}